<table>
  <thead>
    <td>Name</td>
    <td>Description</td>
    <td>Actions</td>
  </thead>
  <tbody>
  <% @todo_lists.each do |list| %>
    <tr>
      <td><%= link_to(list.name, list) %></td>
      <td><%= list.description %></td>
      <td>
        <%= link_to('Edit', edit_todo_list_url(list)) %>
        <%= link_to('Delete', todo_list_url(list), method: :delete) %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
