@import "bootstrap-sprockets";
@import "bootswatch/yeti/variables";
@import "bootstrap";
@import "bootswatch/yeti/bootswatch";
@import "font-awesome";
@import "buttons";
@import "flex-list";
@import "modals";

.jumbotron {
  background-color: $brand-primary;
  color: $body-bg;
  a {
    color: #fff;
  }
  &.no-navbar-margin {
    margin-top: -21px;
  }
  .jumbotron-actions {
    margin: 0 auto;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
    text-align: center;
  }
}

.field_with_errors {
  @extend .has-error;
}

@media print {
  time.timeago {
    visibility: hidden;
    &:before {
      visibility: visible;
      content: attr(title);
    }
    &[shorttime] {
      &:before {
        content: attr(shorttime);
      }
    }
  }
}

.todo-list-item-complete {
  @extend .list-group-item-success;
}
.todo-list-item-incomplete {
}
@include list-group-item-variant(muted, mix($state-success-bg, white, 25%), mix($state-success-text, white, 25%));
.todo-list-item-old {
  @extend .list-group-item-muted
}
