@import 'bootstrap-sprockets';
@import 'bootswatch/yeti/variables';
@import 'bootstrap';
@import 'bootswatch/yeti/bootswatch';
@import 'font-awesome';
@import 'variables';
@import 'alerts';
@import 'buttons';
@import 'flex-list';
@import 'modals';
@import 'progressbar';
@import 'todo-list-items';

.jumbotron {
  background-color: $brand-primary;
  color: $body-bg;

  a {
    color: $navbar-inverse-color;
  }

  &.jumbotron-no-navbar-margin {
    margin-top: -21px;
  }

  .jumbotron-actions {
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
    margin: 0 auto;
    text-align: center;
  }
}

.field_with_errors {
  @extend .has-error;
}

@media print {
  .timeago {
    visibility: hidden;

    &::before {
      content: attr(title);
      visibility: visible;
    }

    &[shorttime] {
      &::before {
        content: attr(shorttime);
      }
    }
  }
}

.panel.with-nav-tabs {
  .panel-heading {
    padding-bottom: 0;
    border-bottom-color: transparent;
  }
}
