.btn-outline {
  transition: all .5s;
  background-color: transparent;
  color: inherit;

  &.btn-primary {
    color: $brand-primary;
  }

  &.btn-success {
    color: $brand-success;
  }

  &.btn-default {
    color: $gray;
  }

  &.btn-info {
    color: $brand-info;
  }

  &.btn-warning {
    color: $brand-warning;
  }

  &.btn-danger {
    color: $brand-danger;
  }

  &.btn-danger,
  &.btn-default,
  &.btn-info,
  &.btn-primary,
  &.btn-success,
  &.btn-warning {
    &:hover {
      color: $btn-warning-color;
    }
  }
}

.jumbotron {
  .btn-outline {
    color: $navbar-inverse-color;
  }
}
