.flex-list {
  position: relative;
  margin: 1em;
  overflow: hidden;

  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 0 0 -1px;
    padding: 0;
    list-style: none;

    li {
      margin: .25em 0;
      padding: 0 1em;
      border-left: 1px solid $gray-light;
      background-color: transparent;
    }
  }

  &.flex-list-center {
    li {
      flex: 1 0 auto;
      text-align: center;
    }

    ul {
      justify-content: space-between;
    }
  }

  &.flex-list-left {
    li {
      flex: 0 1 auto;
      text-align: left;
    }

    ul {
      justify-content: flex-start;
    }
  }

  &.flex-list-right {
    li {
      flex: 0 1 auto;
      border-right: 1px solid $gray-light;
      border-left: 0;
      text-align: right;
    }

    ul {
      justify-content: flex-end;
      margin: 0 -1px 0 0;
    }
  }
}
