// Place all the styles related to the todo_lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#todo-lists-group, #todo-items-group {
  .list-group-item {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    .todo-list-name, .todo-list-description, .todo-list-actions,
    .todo-item-name, .todo-item-createdat, .todo-item-actions {
      display: inline-block;
      margin: 0.5em 0;
    }
    .todo-list-name,
    .todo-item-name {
      flex: 1 1 50%;
      text-align: left;
      font-size: 15px;
      line-height: 1.12;
    }
    .todo-list-description,
    .todo-item-createdat {
      flex: 1 1 50%;
      text-align: left;
      font-style: italic;
    }
    .todo-list-actions,
    .todo-item-actions {
      flex: 1 1 100%;
      text-align: right;
      a {
        padding: 0 8px;
        width: 60px;
      }
    }
    @media screen and (min-width: 768px) {
      .todo-list-name,
      .todo-item-name {
        flex: 1 1 40%;
      }
      .todo-list-description,
      .todo-item-createdat {
        text-align: center;
        flex: 1 1 45%;
      }
      .todo-list-actions,
      .todo-item-actions {
        flex: 1 1 15%;
      }
    }
  }
}
