// Place all the styles related to the todo_item controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@mixin todo-list-item-variant($state, $base, $color) {
  .todo-list-item {
    &.todo-list-item-#{$state} {
      @include reset-modals;
      border-left: 5px solid $color;

      a:hover {
        color: $color;
      }
    }
  }
}

@mixin reset-modals {
  .modal {
    color: initial;

    a {
      color: initial;
    }
  }
}

@include todo-list-item-variant(complete, $state-success-bg, $state-success-text);
@include todo-list-item-variant(due-now, $state-warning-bg, $state-warning-text);
@include todo-list-item-variant(overdue, $state-danger-bg, $state-danger-text);
@include todo-list-item-variant(archived, $state-success-muted-bg, $state-success-muted-text);

.clear-field-link,
.reset-field-link {
  padding: 0 .25em;
  font-size: 75%;
}

.todo-list-item {
  padding-left: 50px;

  .todo-item-edit-button {
    margin-left: .5em;
    font-size: 75%;
  }

  h4 {
    display: inline;
  }

  a,
  a:hover {
    color: initial;
  }
}

.completion-toggle-box {
  position: absolute;
  top: 10px;
  left: 0;

  i {
    font-size: 200%;
  }
}

.list-item-times {
  @extend .small;
}

.todo-list-item-complete {
  h4 {
    text-decoration: line-through;
  }
}

.todo-item-description {
  h1 {
    margin: 10.5px 0;
    font-size: 17px;
    font-weight: 500;
  }

  h2 {
    margin: 10.5px 0;
    font-size: 15px;
    font-weight: 500;
  }

  h3 {
    margin: 10.5px 0;
    font-size: 13px;
    font-weight: 500;
  }

  h4 {
    margin: 10.5px 0;
    font-size: 12px;
    font-weight: 500;
  }

  ul,
  ol {
    padding-left: 20px;
  }
}
